/* Body Styles */
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

/* Navbar Styles */
nav {
  background-color: #557a95;
  color: white;
  padding: 5px 0 5px 5px;
}

/* Input Form Styles */
.inputForm {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px 0 50px 0;
}

.inputForm ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inputFormLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFormLeft textarea {
  height: 75%;
  width: 50%;
}

.inputFormRight {
  display: flex;
  justify-content: left;
}

/*Output Styling */
.keywordOutput {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keywordOutput textarea {
  width: 50%;
  height: 263px;
}
