/* Body Styles */
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

/* Navbar Styles */
nav {
  background-color: #557a95;
  color: white;
  padding: 5px 0 5px 5px;
}

/* Input Form Styles */
.inputForm {
  display: grid;
  grid-template-columns: auto auto;
}

.inputForm ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inputFormLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFormRight {
  display: flex;
  justify-content: left;
}
